@page 
@model IndexModel
@{
    ViewData["Title"] = "Home";
}
<style>body{background-color:darkgrey}</style>
    <div class="text-center">
        <h1 class="display-4">Hi there.</h1>
        <p>This page is a proof of concept, and an ongoing reflection of my work in coding~</p>
        <p>I Really hope you enjoy it~</p>
    </div>

    <div class="tab-content">
        <h1 id="contextMenu" contextmenu="KTKatte">Bleehah</h1>
        <h2>
            Listen friend:
            
        </h2><h3>Das Ist Alle!!</h3>
    </div>
    <div id="draggyBoi" draggable="true" class="position-relative"><h3><link href="StrangeBullshit" rel="stylesheet" /></h3></div>
