@page "/social/"
@model riotdollgo.Pages.SocialModel
@{ ViewData["Title"] = "Social";
}

<ul>
    <li>
    <a id="facebook" href="Http://facebook.com/dick.dorkins.69">Facebook - Riotdoll</a>
    </li>
    <li>
    <a id="twitter" href="http://twitter.com/riotbimbo/">Twitter - Riot Bimbo</a>
    </li>
    <li>
    <a id="email" href="mailto:katie.bentle.wa@gmail.com">E-mail</a>
    </li>
</ul>
<div id="twitterFeed" align="right" style="align-self:center" class="align-content-md-between">
    <a class="twitter-timeline" href="https://twitter.com/RiotBimbo?ref_src=twsrc%5Etfw">Tweets by RiotBimbo</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>